flyway.url=jdbc:mysql://0.0.0.0:3306/ndfsm?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;connectionCollation=utf8_general_ci&amp;characterSetResults=UTF-8
flyway.user=root
flyway.password=root